* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 100px;
  width: 100%;
  background-color: #2a359e;
  padding: 10px 100px;
  z-index: 2;
}

.header-page {
  margin-top: 20px;
}

.header-page h1 {
  font-weight: bold;
}

.logo-header {
  max-height: 80px;
}

.header .nav-link {
  color: #fff!important;
  font-weight: 700;
}

.header .nav-link:hover {
  color: #cecece!important;
}

.navbar-nav {
  margin-right: 20px!important;
}

.fundo-video {
  position: absolute;
  width: 98.9vw;
  height: 100vh;
  z-index: -2;
  overflow: hidden;
}

.fundo-video .video {
  height: 100vh;
  width: 100%;
}

.fundo-video::after {
  content: '';
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #3348ff -90%, rgba(0, 0, 0, 0.85) 49%, #3348ff 160%);
}

.video-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.video-list iframe {
  margin: 20px;
}

.person-card {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  border-radius: 20px;
  padding: 30px;
}

.img-person {
  max-width: 150px;
  border-radius: 50%;
}
